@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans 3", sans-serif;
}

:root {
	--primary-color: #fff;
	--secondary-color: #000;
	--s1: #f2f2f2;
	--s2: #ededed;
	--theme: #ffa515;
	--fade: #d38b18;
	--other: #3a3a3a;
	--block: #dcdcdc;
}

/* SETTINGS */
img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: s1;
	color: var(--secondary-color);
	padding-top: 80px;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.nav,
#skills ul {
	flex-wrap: wrap;
}

/* Estilo para um pseudo-elemento */
section::before {
	content: "";
	display: block;
	height: 140px;
	margin: -10px;
	visibility: hidden;
	pointer-events: none;
}

section {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 10 0px 40px;
	width: 100%;
	min-height: 400px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 10px;
}

.s1 {
	background-color: var(--s1);
}

.s2 {
	background-color: var(--s2);
}

/* HEADER */
.header {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.222);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header picture img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 100%;
}

.top-left {
	font-size: 10px;
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.nav {
	font-weight: 700;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
	margin-right: 40px;
}

.nav a {
	color: var(--secondary-color);
	text-decoration: none;
	transition: all 0.3s ease;
}

.nav a:hover {
	color: var(--theme);
}

/* HOME */
#home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 640px;
}

#home h1 {
	font-size: 58px;
	font-weight: 900;
	margin-bottom: 20px;
}

#home h2 {
	text-align: center;
	padding: 0px 300px;
	font-size: 24px;
	font-weight: 400;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.buttons a {
	display: block;
	border-radius: 10px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.222);
	text-decoration: none;
	padding: 15px 30px;
	background-color: var(--theme);
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 600;
	transition: all 0.3s ease;
}

.buttons a:hover {
	background-color: var(--fade);
	transform: scale(0.95);
}

/* ABOUT */
#about h2 {
	margin-top: 100px;
	margin-bottom: 35px;
}

#about p {
	padding: 0px 200px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: var(--other);
}

/* SKILLS */
#skills h2 {
	margin-top: 30px;
	margin-bottom: 0px;
}

#skills ul {
	display: flex;
	flex: 1 1 auto;
	padding: 0px 300px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	gap: 5px;
}

#skills ul li {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.222);
	background-color: #dfdfdf;
	color: #4b4b4b;
	font-weight: 500;
	padding: 15px 30px;
}

/* PROJECTS */
#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 50px;
}

#projects ul {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#projects ul li {
	display: block;
	border-radius: 5px;
	min-width: 400px;
	min-height: 300px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.222);
	padding: 60px 60px;
	background-color: var(--block);
}

#projects ul li a {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
	text-decoration: none;
	color: var(--secondary-color);
}

#projects ul li a img {
	width: 560px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.222);
}

/* CONTACT */
#contact {
	padding: 0 0 80px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.links {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.links a img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 100%;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.222);
}

/* FOOTER */
footer {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

/* RESPONSIVIDADE */

/* Tablets */
@media only screen and (max-width: 768px) {
	body {
		padding-top: 60px;
	}

	.header {
		flex-direction: row;
		padding: 30px;
	}

	.top-left {
		gap: 5px;
	}

	.nav {
		gap: 10px;
		flex-wrap: wrap;
	}

	#home h1 {
		font-size: 30px;
	}

	#home h2 {
		padding: 0px 20px;
		font-size: 12px;
	}

	#about p {
		padding: 0px 50px;
	}

	#skills ul {
		padding: 0px 50px;
	}

	#projects ul li {
		min-width: 200px;
	}

	#projects ul li a img {
		width: 260px;
	}
}

/* Smartphones */
@media only screen and (max-width: 480px) {
	body {
		padding-top: 50px;
	}

	.header {
		flex-direction: row;
		padding: 30px;
	}

	.nav {
		gap: 5px;
		flex-wrap: wrap;
	}

	#home h1 {
		font-size: 28px;
	}

	#home h2 {
		padding: 0px 10px;
		font-size: 14px;
	}

	#about p {
		padding: 0px 20px;
	}

	#skills ul {
		padding: 0px 20px;
	}

	#projects ul li {
		min-width: 400px;
	}

	#projects ul li a img {
		width: 160px;
	}
}
